// color palette - defines *all* the colors used in the app
$cA: #141515
$cB: #1b1c1c
$cC: #1d1e1f
$cD: #262829
$cE: #2e3031
$cF: #262829
$cG: #2b2d2e
$cH: #323435
$cI: #343536
$cJ: #37393a
$cK: #393b3d
$cL: #3b3d3d
$cM: #424445
$cN: #454849
$cO: #494b4d
$cP: #4a4e50
$cQ: #5d6062
$cR: #7e8184
$cS: #94989a
$cT: #9ba2a8
$cU: #ebf0f5

$c-blue: hsl(210, 60%, 60%)
$c-green: hsl(130, 60%, 60%)
$c-red: hsl(0, 60%, 60%)
$c-gold: hsl(45, 60%, 60%)
$c-prim: $c-blue

$c-trans: rgb(0, 0, 0, 0)
$c-semitrans: rgb(0, 0, 0, .5)

// define colors for various elements from palette
$c-text: $cS
$c-dim: $cP
$c-bright: $cU
$c-pane: $cD
$c-border: $cM
$c-viewer: $cB
$c-input: $cC
$c-messsage-bg: $cE


// constants
$dur-fade: .2s

$font-size: 11.5px
@font-face
  font-family: main
  src: url(../fonts/regular.ttf)

@font-face
  font-family: main
  font-weight: bold
  src: url(../fonts/bold.ttf)


// font options
.bold
  font-weight: bold

.color-blue
  color: $c-blue

.color-green
  color: $c-green

.color-red
  color: $c-red

.color-gold
  color: $c-gold


// flexbox
.flex-col
  display: flex
  flex-direction: column

.flex-row
  display: flex
  flex-direction: row
  align-items: baseline

.flex-col
  display: flex
  flex-direction: column

.fix-sz
  flex-grow: 0
  flex-shrink: 1

.expand
  flex-grow: 1
  flex-shrink: 1

.v-sep
  border-top: 1px solid $c-border

// adds space to the left of all non-first items in a flex row,
// or top of all non-first items in a flex col
.flex-row > :not(.expand) ~ :not(*:first-child)
  margin-left: 8px

.flex-col > :not(.expand) ~ :not(*:first-child)
  margin-top: 8px


// for paragraphs
.pg
  line-height: 1.5


@mixin global
  font-family: main
  font-size: $font-size
  font-variant-numeric: tabular-nums
  color: $c-text


@mixin input
  @include global

  background-color: $c-input
  border: 1px solid $c-pane
  border-radius: 2px
  color: $c-bright
  padding-left: 4px
  padding-right: 4px
  padding-top: 4px
  padding-bottom: 2px
  transition: border .1s

  &.invisible
    background-color: $c-pane

  &::placeholder
    color: $c-dim

  &:hover
    background-color: $c-input

  &:focus
    outline: none
    background-color: $c-input
    border: 1px solid $c-prim


// icons. for some reason, can't select faicon directly, so all faicon have a
// .icon class, which we use to select them
.icon
  position: relative
  top: 1px // font-awesome icons are a little high by default

  &.clickable:hover
    color: $c-bright

  &.selected
    color: $c-prim


// message (pops up from below or above page)
.ui-message
  @include global

  position: fixed
  text-align: center
  transform: translateX(-50%) // centers div on screen
  transition: all $dur-fade
  padding: 8px
  background-color: $c-messsage-bg
  border: 1px solid $c-messsage-bg
  border-radius: 4px

.fade-top-enter-active, .fade-top-leave-active, .fade-bottom-enter-active, .fade-bottom-leave-active
  transition: all $dur-fade

.fade-top-enter, .fade-top-leave-to
  opacity: 0
  transform: translate(-50%, -30px) // the -50% needed to keep div centered

.fade-bottom-enter, .fade-bottom-leave-to
  opacity: 0
  transform: translate(-50%, +30px) // the -50% needed to keep div centered

.align-baseline
  align-items: baseline


// button
button
  @include global

  background-color: $cM
  border: none
  color: $cU
  padding: 3px 12px
  padding-top: 5px
  text-align: center
  text-decoration: none
  display: inline-block
  border-radius: 3px
  cursor: pointer
  outline: none

  &:hover
    background-color: $cO

  &.highlighted
    background-color: darken($c-prim, 20%)
    &:hover
      background-color: darken($c-prim, 10%)


// dialog (dialog box with message and options, e.g. 'Cancel' and 'Ok')
.dialog-box
  @include global
  
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  min-width: 160px
  max-width: 320px

  background-color: $c-pane
  border-radius: 4px
  padding: 16px

.bg
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: $c-semitrans

.bg-fade-enter-active, .bg-fade-leave-active, .dialog-fade-enter-active, .dialog-fade-leave-active
  transition: all $dur-fade

.bg-fade-enter, .bg-fade-leave-to
  background-color: $c-trans

.dialog-fade-enter, .dialog-fade-leave-to
  opacity: 0


// tooltip
.tooltip
  font-size: 90%
  padding: 4px 8px 2px 8px
  background-color: $cH
  border-radius: 4px
